/* Font faces, some may be deleted later */
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/static/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lobster";
  src: url("./fonts/Lobster_Two/LobsterTwo-BoldItalic.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./imgs/bell-cafe.jpg");
  background-size: 140%;
}

/* Content Heading Styling */
.heading-container {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 10px;
  height: fit-content;
}

.home-heading-main {
  font-family: "Lobster";
  font-size: 3.5rem;
}

.home-heading-sub {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.25rem;
}

.home-heading-main,
.home-heading-sub { 
  color: #1E3A8A;
  text-shadow: 0 0 5px rgba(30, 58, 138, 0.3);
}


/* Nav Styling */
.nav-menu { 
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 12px;
  border-bottom: 3px solid #8B6B00;
  border-top: none;
  width: 100%;
  background-color: white;
}

.nav-button {
  color: white;
  font-weight: 700; 
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  background-color: #1E3A8A;
  padding: 8px;
  border: none;
  transition: 0.5s ease-in-out;
}

.nav-button:hover {
  cursor: pointer;
}

/* Body Styling */
#content {
  border-radius: 5px;
  margin: auto;
  width: 70%;
  min-height: 100vh;
}

div {
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

h1, h2 { 
  text-align: center;
  font-size: 15px;
}

h2 { 
  margin-top: 10px;
}

strong { 
  font-family: "Inter";
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

p { 
  text-align: center;
  margin-top: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
}

.phone-container { 
  align-items: center;
  width: auto;
}

/* Styling for the contact information and respective Divs */
.phone-container,
.email-container,
.address-container {
  background-color: #5A9BD5;
  border: 5px solid #d6c6f2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.phone-label,
.address-label,
.email-label,
.hours-label {
  text-align: center;
  font-size: 1.125rem;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #1E3A8A;
}

.phone-info,
.email-info,
.address-info,
.hours {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1rem;
}

.hours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5A9BD5;
  width: fit-content;
  margin: auto;
  padding: 20px;
}
